/* global */

body {
    margin: 0;
    padding: 0;
    border: 0;
    color: #303846;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    margin: 0;
    font-size: 3em;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.8em;
}

li {
    font-size: smaller;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:active {
   text-decoration: underline;
}

section, footer {
    padding: 60px 0;
}

.btn {
    margin-top: 20px;
    padding: 12px;
    font-size: 1em;
    font-weight: bold;
}

.border-rounded {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
}

.flex-column-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.text-white {
    color: white;
}

/* header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 5px 20px;
    font-weight: bold;
    background-color: #fff;
}

.logo-and-name{
    display: inline-flex;
}

.logo {
    height: 37px;
    margin: 6px 0 0;
}

.name {
    padding-left: 20px;
    line-height: 0.7;
}

.headermenu{
    top: 5px;
    right: 15px;
    list-style: none;
}

.hdr-menu-li {
    padding-left: 20px;
}

/* main */

main {
    width: 100%;
    margin-top: 60px;
}

/* main - 1st section – covering image */

.first-section {
    font-weight: bold;
    font-size: 1em;
    background: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sect1-logo {
    width: 13%;
    padding: 10px;
}

.slogan {
    margin: 0;
    padding: 10px;
    font-size: 1.2em;
}

.sect1-btn {
    margin: 10px;
    border-color: white;
}

/* main - article section */

.article-section {
    justify-content: space-between;
    width: 1000px;
}

article {
    width: 30%;
}

/*main - "article with image" sections*/

.img-section {
    justify-content: center;
    width: 100%;
}

.img-sect-article {
    width: 450px;
    padding: 10px 3em;
}

.image-box {
    width: 300px;
    padding: 10px 3em;
    object-fit: contain;
}

.img-section img {
    max-width:100%;
    max-height:100%;
}

.grey {
    background-color: #f7f7f7;
}

/* main - booking form */

.booking-section {
    width: 33vw;
}

.booking-section h2 {
    margin-bottom: 0;
    text-align: center;
}

legend {
    font-size: 1.4em;
    color: #09d3ac;
}

fieldset {
    width: 100%;
    padding: 0 1.5em 1.5em;
    line-height: 3.2;
    border-color: #09d3ac;
}

label {
    display: inline-block;
    width: 40%;
    font-weight: bold;
}

.form-field {
    width: 55%;
    height: 2.2em;
    border-color: #ccc;
}

select {
    appearance: none;
    font-size: smaller;
}

.selectdiv:after {
    content: 'v';
    position: relative;
    left: -1.5em;
    color: #303846;
    pointer-events: none;
}

.booking-btn {
    width: 5em;
    padding: 0.75em 3em;
    color: #09d3ac;
    border-color: #09d3ac;
}

/* footer */

footer {
    bottom: 0;
    justify-content: space-evenly;
    width: 100%;
    background-color: #303846;
    font-weight: bold;
}